<div class="container card-container">
  <div class="row">
    <form role="form">
      <div class="form-group">
        <img src="https://cdn2.iconfinder.com/data/icons/user/512/user_login_man-512.png" alt="login-avatar" class="img-circle img-responsive">
        <input type="text" name="email" id="email" placeholder="E-mail" class="form-control">
      </div>
      <div class="form-group">
        <input type="password" name="password" id="password" placeholder="Password" class="form-control">
      </div>
      <button type="button" id="btn_login" class="btn btn-primary btn-block" (click)="login()"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
    </form>
  </div>
</div>

